// Neutral Colors

$color-white: #fff;
$color-black: #000;
$color-black-secondary: #0f0f0f;
$color-gray-400: #ccc;

// Primary Colors

$color-blue-700: #1c1176;
$color-blue-500: #01b4e4;

$color-teal-500: #1ed5a9;

// Gradients

@mixin color-gradient-primary {
  background: rgb(30, 213, 169);
  background: linear-gradient(
    90deg,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}

@mixin color-gradient-border {
  border-top: 1px solid $color-blue-500;
  border-image: $color-blue-500;
  border-image: linear-gradient(
      to right,
      $color-black-secondary 0%,
      $color-blue-500 50%,
      $color-black-secondary 100%
    )
    1;
}
