.home-page {
  color: $color-white;

  &__hero {
    background: url('../src/assets/hero-bg.jpg') no-repeat;
    background-size: auto 300px;
    background-position: top center;
    margin-bottom: 40px;
    overflow: hidden;

    @include breakpoint(small) {
      background-size: auto 400px;
    }

    @include breakpoint(medium) {
      background-size: auto 630px;
    }
  }

  &__hero-image {
    max-width: 90%;
    margin: toRem(-40) 0 toRem(-60);

    @include breakpoint(medium) {
      max-width: 100%;
    }
  }

  &__hero-container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    @include headline3;
    & {
      text-align: center;
      margin: 0 0 toRem(40);
    }
    @include breakpoint(medium) {
      @include headline1;
      // margin: toRem(-40) 0 toRem(40);
    }
  }
}
