.footer {
  @include container;
  @include color-gradient-border;

  & {
    padding-top: toRem(60);
    margin: toRem(60) auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  &__logo {
    flex-grow: 1;
  }

  &__links {
    margin-top: toRem(16);

    @include breakpoint(medium) {
      margin-top: toRem(0);
    }
  }

  &__link {
    margin-right: toRem(16);
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $color-blue-500;
    }
  }
}
