.header {
  @include container;
  & {
    display: flex;
    justify-content: space-between;
    padding-top: toRem(20);
    padding-bottom: toRem(20);
    align-items: center;
  }
  @include breakpoint(large) {
    padding-top: toRem(32);
    padding-bottom: toRem(32);
  }

  &__logo {
    height: toRem(20);
    width: auto;

    @include breakpoint(small) {
      height: toRem(36);
      width: auto;
    }
  }
}
