.hero {
  background: url('../assets/hero-bg.jpg') no-repeat;
  background-size: auto 300px;
  background-position: top center;
  margin-bottom: toRem(40);
  overflow: hidden;

  @include breakpoint(small) {
    background-size: auto toRem(400);
  }

  @include breakpoint(medium) {
    background-size: auto 630px;
  }

  &__image {
    max-width: 90%;
    margin: toRem(-20) 0;

    @include breakpoint(medium) {
      max-width: 100%;
      margin: toRem(-60) 0;
    }
  }

  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    @include headline3;
    & {
      text-align: center;
      margin: 0 0 toRem(20);
    }
    @include breakpoint(small) {
      @include headline2;
      & {
        margin: 0 0 toRem(40);
      }
    }
    @include breakpoint(medium) {
      @include headline1;
      & {
        margin: 0 0 toRem(40);
      }
    }
  }
  &__gradient-bar {
    @include color-gradient-border;

    & {
      margin-top: toRem(40);
      height: toRem(1);
      width: 100%;
    }
  }
}
