.loading {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  height: toRem(200);
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: toRem(80);
  height: toRem(80);
}
.lds-ellipsis div {
  position: absolute;
  top: toRem(33.33333);
  width: toRem(13.33333);
  height: toRem(13.33333);
  border-radius: 50%;
  background: $color-blue-500;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: toRem(8);
  animation: lds-ellipsis1 0.7s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: toRem(8);
  animation: lds-ellipsis2 0.7s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: toRem(32);
  animation: lds-ellipsis2 0.7s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: toRem(56);
  animation: lds-ellipsis3 0.7s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
